@model MVCBasico.Models.ArticuloArte

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Articulo de Arte</h1>

<h3>
    ¿Esta seguro que quiere eliminar el artículo @Html.DisplayFor(model => model.Nombre)?
</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoArte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoArte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioMinimo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEnPuja)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioEnPuja)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>
