@model MVCBasico.Models.ArticuloArte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArticuloArte</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoArte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoArte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioMinimo)
        </dd>
        <!--
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Foto)
            </dd>
        -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEnPuja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioEnPuja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
