@model MVCBasico.Models.ArticuloArte

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Artículo de Arte - @Html.DisplayFor(model => model.Nombre)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Artista" class="control-label"></label>
                <input asp-for="Artista" class="form-control" />
                <span asp-validation-for="Artista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoArte" class="control-label"></label>
                <select asp-for="TipoArte" class="form-control" asp-items="Html.GetEnumSelectList<TipoArte>()">
                    <option selected="selected" value="">Por favor seleccione el tipo de arte</option>
                </select>
                <span asp-validation-for="TipoArte" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="UsuarioCreadorId" />
            <input type="hidden" asp-for="FechaCreacion" />
            <input type="hidden" asp-for="FechaModificacion" />

            <div class="form-group">
                <label asp-for="PrecioInicial" class="control-label"></label>
                <input asp-for="PrecioInicial" class="form-control" />
                <span asp-validation-for="PrecioInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioMinimo" class="control-label"></label>
                <input asp-for="PrecioMinimo" class="form-control" />
                <span asp-validation-for="PrecioMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioEnPuja" class="control-label"></label>
                <input asp-for="PrecioEnPuja" class="form-control" />
                <span asp-validation-for="PrecioEnPuja" class="text-danger"></span>
            </div>
            @if (@Model.NombreImagen != null)
            {
            <div class="form-group">
                <label class="control-label">Imagen: @Model.NombreImagen </label>
                <dd class="photo-display">
                    <img class="photo-display-img" src="@Url.Action("GetImage", "ArticuloArte", new { Id = @Model.Id })" />
                </dd>
            </div>
            }
            <div class="form-group">
                <label asp-for="ArchivoFoto">Modificar imagen</label>
                <input asp-for="ArchivoFoto" type="file" />
                <span asp-validation-for="ArchivoFoto"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-secondary" /> |
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
