@model MVCBasico.Models.ArticuloMueble

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Artículo de Mueble</h1>

<h3>
    ¿Esta seguro que quiere eliminar el artículo @Html.DisplayFor(model => model.Nombre)?
</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioMinimo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEnPuja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioEnPuja)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
    </form>
</div>
